<div class="container index">
  <div class="post-list"><% 
  if(page.category == "experience"){  
    var prev = -10086;// prev year
    var curr;// curr year, ever step be updated 
    page.posts.sort('date', -1).each(function(item) { 
      curr = item.date.year()
      if (curr !== prev) {
        prev = curr;      
      %>
      <div class="content-title"><h2><span><%- curr %></span></h2></div><% } %>  
        <div class="post-item" title="<%- item.title %>">
          <span class="time-m-d"><%- item.date.format("MM-DD") %></span>
          <a href="<%- url_for(item.path) %>">
            <span><%- item.title %></span>
          </a>
        </div>
    <% }) %>
    <nav class="post-navigation">
      <% if(page.prev !== 0){ %>
        <a href="<%- url_for(page.prev_link)%>"><i class="iconfont icon-angleleft"></i></a>
      <% } %>
      <span class="page-num"><%- page.current %> / <%- page.total -%></span>
      <% if(page.next !== 0){ %>
        <a href="<%- url_for(page.next_link)%>"><i class="iconfont icon-angleright"></i></a>
      <% } %>
    </nav>  
  <% } else if(page.category == "novel"){ 
    var categoryList = new Array();
    page.posts.sort('order', -1).each(function(tempItem) {  
      if(categoryList.indexOf(tempItem.order) == -1) {
        categoryList.push(tempItem.order);  
      }          
    });
    categoryList.forEach(function(categoryItem) {  %><div class="content-title"><h3><span><%- categoryItem %></span></h3></div>
      <% page.posts.sort('date', -1).each(function(item) { 
      if(categoryItem == item.order){  %>
        <div class="post-item" title="<%- item.title %>">
          <span class="time-m-d"><%- item.date.format("YYYY-MM-DD") %></span>
            <a href="<%- url_for(item.path) %>"><span><%- item.title %></span></a>
        </div>
      <% }}); }); %><nav class="post-navigation">
      <% if(page.prev !== 0){ %><a href="<%- url_for(page.prev_link)%>"><i class="iconfont icon-angleleft"></i></a>
      <% } %><span class="page-num"><%- page.current %> / <%- page.total -%></span>
      <% if(page.next !== 0){ %><a href="<%- url_for(page.next_link)%>"><i class="iconfont icon-angleright"></i></a><% } %>
    </nav><% } else { %>
    <div class="content-title">
      <h2>
        <span><%- page.category %></span>
      </h2>
    </div>
    <% page.posts.sort('date', -1).each(function(item) { %>     
        <div class="post-item" title="<%- item.title %>">
          <span class="time-m-d"><%- item.date.format("YYYY-MM-DD") %></span>
          <a href="<%- url_for(item.path) %>">
            <span><%- item.title %></span>
          </a>
        </div>   
    <% }) %>
    <nav class="post-navigation">
      <% if(page.prev !== 0){ %>
        <a href="<%- url_for(page.prev_link)%>"><i class="iconfont icon-angleleft"></i></a>
      <% } %>
      <span class="page-num"><%- page.current %> / <%- page.total -%></span>
      <% if(page.next !== 0){ %>
        <a href="<%- url_for(page.next_link)%>"><i class="iconfont icon-angleright"></i></a>
      <% } %>
    </nav>  
  <% } %>
</div>
</div>
