<div class="container index">
  <div class="post-list">
    <!-- 遍历渲染文章 -->
    <% 
    var prev = -10086;// prev year
    var curr;// curr year, ever step be updated 

    page.posts.forEach(function(item) { 
      var mark = true;
      item.categories.forEach(function(item1){
        if(item1.name == "小说" || item1.name == "说说"){
          mark = false;
        }          
      });
      if(mark){
        curr = item.date.year()
        if (curr !== prev) {
          prev = curr;

    %>
    <div class="content-title">
      <h2>
        <span><%- curr %></span>
      </h2>
    </div>
    <%
      }
    %>
      <div class="post-item" title="<%- item.title %>">
        <div class="time-m-d"><%- item.date.format("MM-DD") %></div>
        <div class="title">
          <a href="<%- url_for(item.path) %>">
            <% if(item.title !== "") { %>
              <% if (item.top) { %>
                <span><span title="<%= __('pinned') %>" class="icon iconfont icon-pin-top post-top"></span><%- item.title %></span>
              <% } else { %>
                <span><%- item.title %></span>
              <% } %>
            <% } else { %>
              <span>untitled</span>
            <% } %>
          </a>
        </div>
      </div>
    <% }}) %>
  </div>
  <nav class="post-navigation">
    <% if(page.prev !== 0){ %>
      <a href="<%- url_for(page.prev_link)%>"><i class="iconfont icon-angleleft"></i></a>
    <% } %>
    <span class="page-num"><%- page.current %> / <%- page.total -%></span>
    <% if(page.next !== 0){ %>
      <a href="<%- url_for(page.next_link)%>"><i class="iconfont icon-angleright"></i></a>
    <% } %>
  </nav>
</div>
