<!-- LaTex Display -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<% if (!page.type) { %>
<div class="container post-details" id="post-details">
  <div class="post-content">
    <div class="post-title"><%- page.title %></div>
    <div class="post-attach">
      <span class="post-pubtime">
        <i class="iconfont icon-updatetime" title="<%= __('updateTime') %>"></i> <%- page.date.format("YYYY-MM-DD HH:mm:ss") %>
      </span><% if (config.language==="en") { %>
      <span class="post-count">≈<%= wordcount(page.content) %> Words</span>
      <span class="post-count">≈<%= min2read(page.content) %> Minutes</span>
      <% } else { %>
      <span class="post-count">约<%= wordcount(page.content) %>字</span>
      <span class="post-count">约<%= min2read(page.content) %>分钟</span>        
      <% }
      for(item of theme.navbar) {
      if (item.key === 'tags' && item.enable) {
      if(page.tags && page.tags.length > 0) { %><span class="post-tags">
        <i class="iconfont icon-tags" title="<%= __('tags') %>"></i><% for(let item of page.tags.data) { %>
        <span class="span--tag"><a href="<%= url_for(item.path)%>" title="<%- item.name %>"><b>#</b> <%- item.name %></a></span><% } %>
      </span>
      <% }}
      if (item.key === 'categories' && item.enable) {
      if(page.tags && page.categories.length > 0) { %><span class="post-categories">
        <i class="iconfont icon-bookmark" title="<%= __('categories') %>"></i><% for(let item of page.categories.data){ %>
          <span class="span--category"><a href="<%= url_for(item.path)%>" title="<%- item.name %>"><b>#</b> <%- item.name %></a></span><% } %></span>
      <% }}} %></div>
      <div class="markdown-body"><%- page.more %></div>
      <% if(theme.prevnext.enable) { %>
        <div class="prev-or-next">
          <div class="post-foot-prev"><% var tmpPrev = page.prev;
            while(true){ if(tmpPrev){ if(page.categories.data[0].name == tmpPrev.categories.data[0].name){  if(page.categories.data[0].name == 'novel'){ if(page.categories.data[1].name == tmpPrev.categories.data[1].name){  %>
              <a href="<%- url_for(tmpPrev.path) %>" target="_self">
                <i class="iconfont icon-chevronleft"></i>  
                <span><%= tmpPrev.title %></span> 
              </a><%  break; }else{ tmpPrev = tmpPrev.prev; }}else{  %>
              <a href="<%- url_for(tmpPrev.path) %>" target="_self">
                <i class="iconfont icon-chevronleft"></i>  
                <span><%= tmpPrev.title %></span> 
              </a><% break; }}else{ tmpPrev = tmpPrev.prev; }}else{ break; }} %>
          </div>
          <div class="post-foot-next"><% var tmpNext = page.next;
            while(true){ if(tmpNext){ if(page.categories.data[0].name == tmpNext.categories.data[0].name){ if(page.categories.data[0].name == 'novel'){ if(page.categories.data[1].name == tmpNext.categories.data[1].name){  %>
              <a href="<%- url_for(tmpNext.path) %>" target="_self">
                <span><%= tmpNext.title %></span>
                <i class="iconfont icon-chevronright"></i>             
              </a><% break; }else{ tmpNext = tmpNext.next; }}else{  %>
              <a href="<%- url_for(tmpNext.path) %>" target="_self">
                <span><%= tmpNext.title %></span>
                <i class="iconfont icon-chevronright"></i>             
              </a> <%  break; }}else{ tmpNext = tmpNext.next; }}else{ break; }} %>
          </div>
        </div>
      <% } %>
    </div>
    <%- partial("_partial/catalog") %>
    <% if(theme.comments.enable) { %><div class="comments-container"><%- partial("_partial/comments") %></div><% } %>
  </div>
<% } %>